
.vs/Cidi/FileContentIndex/961bec6e-ce37-40e1-bb64-2d149cb59d52.vsidx
.vs/Cidi/FileContentIndex/79fa7e21-fa14-4c27-9896-9b31afd256a4.vsidx
.vs/Cidi/FileContentIndex/9cbba3f7-7b56-4945-9550-51c5b1f5bbcf.vsidx
.vs/Cidi/FileContentIndex/5fdb9f6a-fd0f-4d5c-94be-d909c4c3d445.vsidx
.vs/Cidi/DesignTimeBuild/.dtbcache.v2
